[submodule "cv"]
	path = cv
	url = https://github.com/StasBel/cv
[submodule "talknet"]
	path = talknet
	url = https://github.com/stasbel/talknet.git 
[submodule "mixer-tts-demo"]
	path = mixer-tts-demo
	url = https://github.com/stasbel/mixer-tts-demo.git 
